body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(231, 223, 223, 0.776);
}

.heading {
    color: rgba(57, 36, 36, 0.767) ;
    margin-top: 5vh;
    font-weight: 300;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 3px 8px rgb(44, 31, 31);
    font-size: 5vh;
}

.form {
    position: absolute;
    top: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 400px;
    background-color: rgb(128, 219, 249);
    border-radius: 10px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: cursive;
}

input:focus {
    outline: none;
    border: none !important;
}

.input::placeholder {
    color: rgb(160, 145, 145);
}

.list {
    padding: 0;
    margin: 0;
}

.list li {
    list-style-type: none;
    padding: 20px;
    font-family: cursive;
    border-top: dotted;
    border-color: darkgray;
    position: relative;
}

.list li .fa-trash {
    color: rgb(17, 4, 67);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li .fa-check-square {
    color: rgb(7, 135, 7);
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked {
    color: darkgray;
    text-decoration: line-through;
}

.list li.checked .fa-check-square {
    color: darkgray;
}